@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Geist Mono", serif;
  text-transform: uppercase;
}

img {
  height: 100%;
  width: 100%;
}

button {
  background: transparent;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: none;
}

.search_bar {
  display: none;
}

.authentication {
  display: none;
}

.header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_btn {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
}

.logo_link {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.logo_image {
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 0.75rem;
  padding: 0.2rem;
}
