@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_font: "Geist Mono", serif;
  --color_black: #000;
  --default_font_size: 1rem;
  --default_font_weight: 400;
  --bg_body_color: #fff;
  --default_line_height: 1.5;
}

body {
  background-color: var(--bg_body_color);
  font-family: var(--primary_font);
  font-weight: var(--default_font_weight);
  font-size: var(--default_font_size);
  line-height: var(--default_line_height);
  color: var(--color_black);
}

img {
  height: 100%;
  width: 100%;
}

button {
  background: transparent;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: none;
}

.search_bar {
  display: none;
}

.authentication {
  display: none;
}

.header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_btn {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--color_black);
  border-radius: 0.25rem;
}

.logo_link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-transform: uppercase;
}

.logo_image {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--color_black);
  border-radius: 0.75rem;
  padding: 0.2rem;
}
