@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_font: "Geist Mono", serif;
  --color_black: #000;
  --default_font_size: 1rem;
  --default_font_weight: 400;
  --bg_body_color: #fff;
  --default_line_height: 1.5;
  --nav_links_font_size: 0.75rem;
}

body {
  background-color: var(--bg_body_color);
  font-family: var(--primary_font);
  font-weight: var(--default_font_weight);
  font-size: var(--default_font_size);
  line-height: var(--default_line_height);
  color: var(--color_black);
}

img {
  height: 100%;
  width: 100%;
}

button {
  background: transparent;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container_fluid {
  max-width: 95%;
  margin: 0 auto;
}

/* For Small Screen and Default Screen */

.nav_links {
  display: none;
}

.search_bar {
  display: none;
}

.authentication {
  display: none;
}

.header {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.header_btn {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--color_black);
  border-radius: 0.25rem;
}

.logo_link {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  text-transform: uppercase;
}

.logo_image {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--color_black);
  border-radius: 0.75rem;
  padding: 0.2rem;
}

.nav_links_and_logo {
  display: flex;
  flex: 1;
  gap: 0.125rem;
  align-items: center;
  justify-content: center;
}

.section_right {
  display: flex;
  justify-content: flex-end;
}

/* For Tablet Screen */

@media (min-width: 768px) {
  .logo_name {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .nav_links {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    font-size: var(--nav_links_font_size);
  }

  .search_bar {
    display: inline;
    flex: 1;
    position: relative;
  }

  .form_container {
    position: relative;
    max-width: 450px;
  }

  .nav_links_and_logo {
    display: flex;
    flex: 1;
    gap: 0.125rem;
    align-items: center;
    border: 1px solid blue;
  }

  .search_box {
    outline: none;
    width: 100%;
    border: 1px solid var(--color_black);
    border-radius: 8px;
    padding: 0.6rem 1rem;
  }

  .magnifying_glass {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem;
  }
}
